<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hawkz/gdcss/gd.min.css">
    <title>simple url shortener</title>
</head>

<body>
    <main>
        <header>
            <h1>simple url shortener</h1>

            <div>
                <form action="/new" method="POST" id="newurlform">
                    <input type="url" name="url" id="url" placeholder="Enter a URL to shorten">
                    <input type="hidden" style="display: none;" hidden id="sitekey" name="sitekey" value="{{.}}">
                    <div>
                        This site is protected by hCaptcha and its
                        <a href="https://hcaptcha.com/privacy">Privacy Policy</a> and
                        <a href="https://hcaptcha.com/terms">Terms of Service</a> apply.
                    </div>

                    <button class="h-captcha" data-sitekey="{{.}}" data-callback="onSubmit">
                        Shorten
                    </button>
                </form>
            </div>
        </header>
    </main>

    <script src="https://js.hcaptcha.com/1/api.js"></script>
    <script src="/public/index.js"></script>
</body>

</html>
